{% if S_CAN_VIEW_24_HOURS %}
<div class="stat-block 24stats">
		<h3 id="twentyfourhour_stats">{{ lang('TWENTYFOURHOUR_STATS') }}</h3>

		<p>{{ HOUR_POSTS }} &bull; {{ HOUR_TOPICS }} &bull; {{ HOUR_USERS }}
		<br>{{ TOTAL_24HOUR_USERS }} {{ USERS_24HOUR_TOTAL }} {{ HIDDEN_24HOUR_TOTAL }} {{ BOTS_24HOUR_TOTAL }} {{ GUEST_ONLINE_24 }} {{ lang('LAST_24_HOURS') }}{% if USERS_ACTIVE %}<br>{{ lang('REGISTERED_USERS') }} {% for lastvisit in loops.lastvisit %} {{ lastvisit.USERNAME_FULL }}{% if not lastvisit.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }} {% endif %}{% endfor %}{% endif %}
		<br>{% if BOTS_ACTIVE %}{{ lang('G_BOTS') }}{{ lang('COLON') }} {% for bot_lastvisit in loops.bot_lastvisit %} {{ bot_lastvisit.BOTNAME_FULL }}{% if not bot_lastvisit.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }} {% endif %}{% endfor %}{% endif %}
		</p>
</div>
{% endif %}