<script type="text/javascript">
var rce_config = {
	toolbarGroups: [
		{ name: 'basicstyles' },
		{ name: 'align' },
		{ name: 'styles' },
		{ name: 'colors', groups: [ 'colors', 'cleanup' ] },
		{ name: 'insert' },
		{ name: 'list' },
		{ name: 'blocks', groups: [ 'blocks', 'clipboard' ] },
		{ name: 'extra', groups: [ 'extra', 'extradesc' ] },
		{ name: 'undo' },
		{ name: 'document',	groups: [ 'tools', 'mode' ] }
	],

	language: rinlanguage,
	removePlugins: rinautosave,

	// The default plugins included in the basic setup define some buttons that
	// are not needed in a basic editor. They are removed here.
	removeButtons: 'Cut,Copy,Paste,Anchor,BGColor,indent,'+rinrmvbut+'',

	// Dialog windows are also simplified.
	removeDialogTabs: 'link:advanced',

	contentsCss: content_url,
	height: rinheight,
	fontSize_sizes: fontsizes,
	smiley_images: dropdownsmiliesurl.concat(dropdownsmiliesurlmore),
	smiley_descriptions: dropdownsmiliesname.concat(dropdownsmiliesnamemore),
	smiley_name: dropdownsmiliesdes.concat(dropdownsmiliesdesmore),
	smiley_path: smileydirectory,
	smiley_sc: rinsmileysc,
	autosave_saveDetectionSelectors: 'input[name*="post"],input[name*="save"],input[name*="preview"]',
	autosave_message: rinautosavemsg,
	autoGrow_minHeight: rinheight,
	autoGrow_maxHeight: rinmaxheight,
	imgurClientId: rinimgur,
	disableNativeSpellChecker: false,
	skin: rinskin
}
</script>