.btn-group-justified a{color:#33b5e5;font-weight:700;-webkit-transition:.3s ease;transition:.3s ease;}
.btn-group-justified a:hover{color:#2d99c2;-webkit-transition:.3s ease;transition:.3s ease;}
#login_form{display:block}
.nopadding{padding-top:0!important;padding-bottom:0!important}
.btn-group a{border-radius:0;}
.input-group{direction:rtl;}
.input-group .form-control{border: 1px solid #d9d9d9;background: #fff;}
.input-group .form-control:focus{border: 1px solid #33b5e5;background: #fff;box-shadow: none;}
.checkbox .remember_me{color:#666}
.new_here p{border-top:1px solid #fff;color:#666;padding-top:10px}
#login_link.active{background-color:#33b5e5;color:#fff}
#login_link{border:1px solid #9cf}
.butn .btn-default{margin-top:20px;border:0;background-color:#33b5e5;color:#fff;font-weight:700;-webkit-transition:.3s ease;transition:.3s ease}
.butn .btn-default:hover{background-color:#2d99c2;color:#fff;-webkit-transition:.3s ease;transition:.3s ease}
.login_form_icons{color:#fff}
#GSform .input-group-addon{background-color:#33b5e5;border:0}
.input{border-radius:0;background-color:#f7f7f7;border:none}
.checkbox .check{color:#666}
.butn{margin-top:20px}
.already_member{padding-top:15px;color:#666}
.forgot{margin:20px 0 10px}
.newhere{border-top:1px solid #d3d3d3;padding-top:10px}
#registration_link.active{background-color:#33b5e5;color:#fff}
#registration_link{border:1px solid #80bfff}
#registration_form .input-group-addon{background-color:#33b5e5;border:0}
.registration_form_icons{color:#fff}
.social-buttons .btn-default{border-radius:0;margin-bottom:10px;margin-top:5px}
.social-buttons i{margin-right:5px}
.social-buttons .btn_facebook{background-color:#003380;color:#fff;border:0}
.social-buttons .btn_twitter{background-color:#87ceeb;color:#fff;border:0}
.social-buttons .btn_gmail{background-color:#b30000;color:#fff;border:0}
@media (max-width:800px) {
.social-buttons .btn-default{margin-bottom:10px}
}
#footer{color:#666;margin-top:10px}
#footer a{color:#444;text-decoration:underline}
.login_errors{color:#ff0000;line-height:18px;}