<!-- IF forumrow.S_COLUMNS_ENABLED -->
-->
<br /><strong>{forumrow.L_SUBFORUM_STR}{L_COLON}</strong><br />
<span class="list_subforums_in_columns">
<!-- BEGIN forumrow.subforum -->
<a href="{forumrow.subforum.U_SUBFORUM}" class="subforum<!-- IF forumrow.subforum.S_UNREAD --> unread<!-- ELSE --> read<!-- ENDIF -->" title="<!-- IF forumrow.subforum.S_UNREAD -->{L_UNREAD_POSTS}<!-- ELSE -->{L_NO_UNREAD_POSTS}<!-- ENDIF -->">
	<!-- IF S_PHPBB_32 --><i class="icon <!-- IF forumrow.subforum.IS_LINK -->fa-external-link<!-- ELSE -->fa-file-o<!-- ENDIF --> fa-fw <!-- IF forumrow.subforum.S_UNREAD --> icon-red<!-- ELSE --> icon-blue<!-- ENDIF --> icon-md" aria-hidden="true"></i><!-- ENDIF -->{forumrow.subforum.SUBFORUM_NAME}</a><!-- IF not forumrow.subforum.S_LAST_ROW -->{L_COMMA_SEPARATOR}<!-- ENDIF -->
<!-- IF not forumrow.subforum.S_LAST_ROW --><br /><!-- ENDIF --><!-- IF forumrow.subforum.S_SWITCH_COLUMN and not forumrow.subforum.S_LAST_ROW --></span><span class="list_subforums_in_columns"><!-- ENDIF -->
<!-- END forumrow.subforum -->
</span>
<!-- ENDIF -->
