body{background-color:#bfdee3;}
a {color: #458019 !important;}
a:hover {color: #45630e!important;}
input, select, textarea {background: #fff!important;border: 1px solid #ccc!important;margin: 2px;padding: 3px 5px;max-width: 400px;max-height: 200px;font-size:12px!important;transition:all .5s ease;}
input:hover, select:hover, textarea:hover {box-shadow: 0 0 5px #59b200!important;border: 1px #59b200 solid!important;}
input:focus, select:focus, textarea:focus {box-shadow: 0 0 5px #59b200!important;border: 1px #59b200 solid!important;}
button,input[type="button"],input[type="reset"],input[type="submit"]{background:#59b200!important;border: 1px #52a103 solid!important;}
button:hover,input:hover[type="button"],input[type="reset"]:hover,input[type="submit"]:hover{box-shadow: 0 0 5px #59b200!important;border: 1px #59b200 solid!important;}
.glyphicon-chevron-left:before {background: #458019;}
.glyphicon-chevron-right:before{background: #458019;}
/* Start Header */
.GSTop{background-color: #b0de27;border-bottom: 4px solid #647d1b;}
.GSTopHeader .GSStatus{background-color: #374d01;}
.GSHeader .GSlogo{background:url('../images/logo-green.png')no-repeat top right;}
.GSTop .navbar{background-color:#679302;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
background-color: #374d01;}
.GSTop .navbar a:hover{background-color: #374d01!important;}
.GSTopHeader input{background: #374d01!important;border: 1px solid #2c3e01!important;}
.GSTopHeader input:focus{border: 1px solid #647d1b!important;}
.GSTopHeader button{background: #374d01!important;border: 1px solid #2c3e01!important;}
.GSTopHeader button:hover{background: #647d1b!important;border: 1px solid #2c3e01!important;}
/* End Header */
/* Start Index */
.GSheading h1,.GSheading h2,.GSheading h3,.GSheading h4, .GSheading h5, .GSheading h6 {border-bottom: 3px solid #458019 ;}
.GSDes i{background: #458019;}
.GSPostBody .GSPostTitle{background-color: #458019;}
/* End Index */
/* Start Body */
aside h3{background: #61b523;background: -webkit-linear-gradient(#61b523, #81e03c);background: -o-linear-gradient(#61b523, #81e03c);background: -moz-linear-gradient(#61b523, #81e03c);background: linear-gradient(#61b523, #81e03c);}
aside h3 i{background: #458019;}
/*aside .GSContent ul li a{color:#458019;}
aside .GSContent ul li:hover{background: #458019 url(../images/ul-li.png) right 14px center no-repeat;} */
article h2{background: #61b523;background: -webkit-linear-gradient(#61b523, #81e03c);background: -o-linear-gradient(#61b523, #81e03c);background: -moz-linear-gradient(#61b523, #81e03c);background: linear-gradient(#61b523, #81e03c);}
article h2 i{background: #458019;}
article h3{background: #69addd;background: -webkit-linear-gradient(#69addd, #5087ae);background: -o-linear-gradient(#69addd, #5087ae);background: -moz-linear-gradient(#69addd, #5087ae);background: linear-gradient(#69addd, #5087ae);}
article h3 i{background: #2e5876;}
article .GScat{background: #4c8d1d;}
article .meta .more{background: #458019;}
article .meta .more:hover{background: #2e5c0b;}
article .GSComment1{background-color:#f7ffe6;border: 1px solid #c3cead;}
article .GSComment2{background-color:#e6f4ff;border: 1px solid #cbd6e0;}
.OpenTable h2{background: #1a4674;border-bottom: 2px solid #123254;}
/* End Body */
/* Start Footer */
footer{background: #b0de27;border-top: 4px solid #647d1b;}
footer .GSFooter {background:#496605 url('../images/bg-footer2.png');}
footer .GSFooter .line-fooot-box-head {border-right: #9fef1b 165px solid;}
footer .GSFooter ul li:hover a{color: #9fef1b!important;}
footer .GSFooter ul li:hover{background: #1a2400 url(../images/ul-li.png) right 14px center no-repeat;}
footer .GSCopyright{background: #1a2400;}
footer .GSCopyright a{color:#87bd08!important;}
footer .GSCopyright a:hover{color:#719e07!important;}
/* End Footer */