@font-face { font-family: 'sans'; src: url(./fonts/IRANSans-web.eot); src: url(./fonts/IRANSans-web.eot#iefix) format("embedded-opentype"), url(./fonts/IRANSans-web.woff2) format("woff2"), url(./fonts/IRANSans-web.woff) format("woff"), url(./fonts/IRANSans-web.ttf) format("ttf"); font-weight: 400; }
@font-face { font-family: 'sans'; src: url(./fonts/IRANSans-Medium-web.eot); src: url(./fonts/IRANSans-Medium-web.eot#iefix) format("embedded-opentype"), url(./fonts/IRANSans-Medium-web.woff2) format("woff2"), url(./fonts/IRANSans-Medium-web.woff) format("woff"), url(./fonts/IRANSans-Medium-web.ttf) format("ttf"); font-weight: 700; }

input {
  font-family: sans !important;
}

a.button2 { 
font-family: sans !important; 
}

/* Online image */
.online { background-image: url("./icon_user_online.gif"); }

* {
	font-family: sans , Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

h1 {
	/* Forum name */
	font-family: sans , Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2 {
	/* Forum header titles */
	font-family: sans , Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2.solo {
	font-family: sans , Tahoma, Arial, Helvetica, sans-serif;
}

h3 {
	/* Sub-headers (also used as post headers, but defined later) */
	font-family: sans , Tahoma, Arial, Helvetica, sans-serif;
}

h4 {
	/* Forum and topic list titles */
	font-family: sans , Tahoma, "Trebuchet MS", Verdana, Helvetica, Arial, Sans-serif;
}

.button {
	font-family: sans , Tahoma, "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
}

a.forumtitle {
	font-family: sans , Tahoma, "Trebuchet MS", Helvetica, Arial, Sans-serif;
}


a.topictitle {
	font-family: sans , Tahoma, "Trebuchet MS", Helvetica, Arial, Sans-serif;
}

.notification_list p.notifications_title {
	font-family: sans , Tahoma, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.dropdown-extended .header {
	font-family: sans , Tahoma, Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagination li.active span {
	font-family: sans , Tahoma, "Open Sans", "Droid Sans", Verdana, Arial, Helvetica;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	font-family: sans , Tahoma, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

li.header dt, li.header dd {
	font-family: sans , Tahoma, Arial, Helvetica, sans-serif;
}

fieldset.polls dd div {
	font-family: sans , Tahoma, Arial, Helvetica, sans-serif;
}

fieldset.polls {
	font-family: sans , Tahoma, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

dl.thumbnail dd {
	font-family: sans , Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.attachbox dt {
	font-family: sans , Tahoma, Arial, Helvetica, sans-serif;
}

.notice {
	font-family: sans , Tahoma, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

p.author {
	font-family: sans , Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

dl.faq {
	font-family: sans , Tahoma, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

.content p {
	font-family: sans , Tahoma, "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

.content {
	font-family: sans , Tahoma, "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	font-family: sans , Tahoma, "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

fieldset {
	font-family: sans , Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

input {
	font-family: sans , Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

select {
	font-family: sans , Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

select optgroup option {
	font-family: sans , Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

textarea {
	font-family: sans , Tahoma, "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

.message-box textarea {
	font-family: sans , Tahoma,"Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

a.button1, input.button1, input.button3, a.button2, input.button2 {
	font-family: sans , Tahoma,"Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

.content  {
	 font-family: sans !important;
	 line-height: 1.8 !important;
}