<!-- IF S_TOPIC_ID && S_FORUM_THANKS -->
<script type="text/javascript" >
    var LA_CLEAR_LIST_THANKS = '{L_CLEAR_LIST_THANKS}';
    var LA_REPUT = '{L_REPUT}';
    var LA_RECEIVED = '{L_RECEIVED}';
    var LA_GIVEN = '{L_GIVEN}';
    var LA_CLEAR_LIST_THANKS_CONFIRM = '{L_CLEAR_LIST_THANKS_CONFIRM}';
    var LA_YES = '{L_YES}';
    var LA_NO = '{L_NO}';
    var U_ADDONFORTHANKSFORPOSTS_PATH = '{U_ADDONFORTHANKSFORPOSTS_PATH}';
    var forum_id = parseInt('{S_FORUM_ID}');
    var topic_id = parseInt('{S_TOPIC_ID}');
</script>
<!-- INCLUDEJS jquery.noty.js -->
<!-- INCLUDEJS default.js -->
<!-- INCLUDEJS topRight.js -->
<!-- INCLUDEJS topCenter.js -->
<!-- INCLUDEJS addon_for_thanks_for_posts.js -->
<!-- ENDIF -->

